h2 {
    text-align: center;
    color: #333;
}

section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.filter-bar {
    margin: 20px 0;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
    width: 99%; 
    display: flex;
    gap: 10px;
    align-items: center;
    height: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
}

td, th {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left;
}

thead {
    background-color: #f2f2f2; 
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.table-container {
    width: 48%; 
    margin-left:1 auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 16px;
    height: 550px;
    max-height: 100%;
    float:left;
    margin-bottom: 20px;
}
  
.line-chart1-container {
    float: right;
    width: 48%; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 16px;
    height: 550px;
    max-height: 100%;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px;
}

.pie-chart1-container {
    width: 48%; 
    margin-left:1 auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 16px;
    height: 500px;
    max-height: 500px;
    float:left;
    display: flex; 
    justify-content: center; 
    padding-top: 80px; 
}
  
.pie-chart2-container {
    float: right;
    width: 48%; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 16px;
    height: 500px;
    max-height: 500px;
    display: flex; 
    justify-content: center; 
    padding-top: 80px; 
}

.pie-chart1-container h3, .pie-chart2-container h3 {
    position: absolute;
    top: 25px;
    left: 0;
    padding: 16px;
    margin: 0; 
}

.pie-chart1-container, .pie-chart2-container {
    position: relative;
}